extends _layout

block head
  script(src='/backgrounds.js')
  script(src='/listener.js')
  script(src='/shapes.js')
  script.
    shapes.list = !{JSON.stringify(shapes)}
  link(rel='stylesheet' href='/vendor/animate.css')

block content
  .poster
    .attribution
      .screen-name
      .hash-tag
    .shape.animated
    .background.background-a
    .background.background-b.hide
    .tweet
