@font-face {
  font-family: 'Knockout-26JuniorFlywght';
  src: url('/fonts/Knockout-26JuniorFlywght.otf') format('opentype');
}
@font-face {
  font-family: 'Knockout-31JuniorMiddlewt';
  src: url('/fonts/Knockout-31JuniorMiddlewt.otf') format('opentype');
}
@font-face {
  font-family: 'Knockout-51Middleweight';
  src: url('/fonts/Knockout-51Middleweight.otf') format('opentype');
}
@font-face {
  font-family: 'Knockout-54Sumo';
  src: url('/fonts/Knockout-54Sumo.otf') format('opentype');
}
@font-face {
  font-family: 'Knockout-73FullHeviweight';
  src: url('/fonts/Knockout-73FullHeviweight.otf') format('opentype');
}




html, body{
  margin: 0;
  height: 100%;
}
body{
  background-color: black;
  color: white;
  font-family: Helvetica;
  width: 100%;
  height: 100%;
}



.tweet-container{
  max-width: 600px;
  margin: 50px auto;
}
.tweet-container textarea{
  font-family: Helvetica;
  font-size: 25px;
  padding: 3% 3% 7%;
  width: 94%;
  border: none;
  margin-bottom: 3%;
  line-height: 130%;
}
.tweet-container a{
  display: block;
  color: black;
  font-size: 25px;
  padding: 2% 2% 1%;
  background-color: white;
  display: inline-block;
  float: right;
  text-decoration: none;
}
.tweet-container .characters-left{
  color: white;
  float: left;
  font-size: 40px;
  opacity: .5;
  padding-top: 1%;
}



.poster{
  width: 100%;
  height: 100%;
}
.poster .tweet{
  color: black;
  font-size: 150px;
}
