@font-face {
  font-family: 'Knockout-27JuniorBantamwt';
  src: url('/fonts/Knockout-27JuniorBantamwt.otf') format('opentype');
}
@font-face {
  font-family: 'Knockout-47Bantamweight';
  src: url('/fonts/Knockout-47Bantamweight.otf') format('opentype');
}
@font-face {
  font-family: 'Knockout-68FullFeatherwt';
  src: url('/fonts/Knockout-68FullFeatherwt.otf') format('opentype');
}
@font-face {
  font-family: 'Knockout-72FullCruiserwt';
  src: url('/fonts/Knockout-72FullCruiserwt.otf') format('opentype');
}
@font-face {
  font-family: 'Knockout-93UltmtHeviwt';
  src: url('/fonts/Knockout-93UltmtHeviwt.otf') format('opentype');
}




html, body{
  margin: 0;
  height: 100%;
}
body{
  color: white;
  background: linear-gradient(#EA1D8E, #F7931D, #E52125);
  font-family: Helvetica;
  width: 100%;
  height: 100%;
  overflow: hidden;
}



.tweet-container{
  max-width: 600px;
  margin: auto;
  padding-top: 50px;
}
.tweet-container textarea{
  font-family: 'Knockout-93UltmtHeviwt';
  font-size: 25px;
  padding: 3% 3% 7%;
  width: 94%;
  border: none;
  margin-bottom: 3%;
  line-height: 130%;
}
.tweet-container a{
  font-family: 'Knockout-93UltmtHeviwt';
  display: block;
  color: white;
  font-size: 25px;
  padding: 2% 2% 1%;
  background-color: #E52125;
  display: inline-block;
  border: 2px solid white;
  float: right;
  text-decoration: none;
}
.tweet-container .characters-left{
  font-family: 'Knockout-93UltmtHeviwt';
  color: white;
  float: left;
  font-size: 40px;
  padding-top: 1%;
}



.poster{
  width: 100%;
  height: 100%;
}
.background{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  transition: .5s linear opacity;
}
.background.hide{
  opacity: 0;
}
.poster .shape{
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
}
.poster .tweet{
  position: relative;
  z-index: 3;
  color: black;
  font-size: 130px;
  width: 90%;
  margin: 2% auto 0;
  font-family: 'Knockout-27JuniorBantamwt';
}
.poster .tweet.animate{
  transition: .5s linear opacity;
  opacity: 1;
}
.poster .tweet.hide{
  opacity: 0;
}
.poster .tweet span.hide{
  opacity: 0;
}
.poster .noun{
  font-family: 'Knockout-73FullHeviweight';
}
.poster .verb{
  font-family: 'Knockout-54Sumo';
}
.poster .adverb{
  font-family: 'Knockout-26JuniorFlywght';
}
.poster .adjective{
  font-family: 'Knockout-26JuniorFlywght';
}
.poster .conjunction{
  font-family: 'Knockout-26JuniorFlywght';
}
