@font-face {
  font-family: 'Knockout-27JuniorBantamwt';
  src: url('/fonts/Knockout-27JuniorBantamwt.otf') format('opentype');
}
@font-face {
  font-family: 'Knockout-47Bantamweight';
  src: url('/fonts/Knockout-47Bantamweight.otf') format('opentype');
}
@font-face {
  font-family: 'Knockout-68FullFeatherwt';
  src: url('/fonts/Knockout-68FullFeatherwt.otf') format('opentype');
}
@font-face {
  font-family: 'Knockout-72FullCruiserwt';
  src: url('/fonts/Knockout-72FullCruiserwt.otf') format('opentype');
}
@font-face {
  font-family: 'Knockout-93UltmtHeviwt';
  src: url('/fonts/Knockout-93UltmtHeviwt.otf') format('opentype');
}


@media print {
  .poster {
    font-size: 40% !important;
  }
  .attribution{ display: none; }
}


html, body{
  margin: 0;
  overflow: hidden;
  padding: 0;
  height: 100%;
}
body{
  color: white;
  background: linear-gradient(#EA1D8E, #F7931D, #E52125);
  font-family: Helvetica;
  width: 100%;
  height: 100%;
}



.tweet-container{
  max-width: 600px;
  margin: auto;
  padding-top: 50px;
}
.tweet-container textarea{
  font-family: 'Knockout-93UltmtHeviwt';
  font-size: 25px;
  padding: 3% 3% 7%;
  width: 94%;
  border: none;
  margin-bottom: 3%;
  line-height: 130%;
}
.tweet-container a{
  font-family: 'Knockout-93UltmtHeviwt';
  display: block;
  color: white;
  font-size: 25px;
  padding: 2% 2% 1%;
  background-color: #E52125;
  display: inline-block;
  border: 2px solid white;
  float: right;
  text-decoration: none;
}
.tweet-container .characters-left{
  font-family: 'Knockout-93UltmtHeviwt';
  color: white;
  float: left;
  font-size: 40px;
  padding-top: 1%;
}



.poster{
  width: 100%;
  height: 100%;
}
/* backgrounds for poster */
.poster .background{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  transition: .5s linear opacity;
}
.poster .background.hide{
  opacity: 0;
}

/* attribution */
.poster .attribution{
  font-family: 'Knockout-72FullCruiserwt';
  color: black;
  text-align: left;
  font-size: 15%;
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 100%;
  z-index: 3;
}
.poster .attribution .screen-name{
  float: left;
  margin-right: 15px;
}
.poster .attribution .hash-tag{
  color: white;
}

.poster .shape{
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}
.poster .tweet{
  position: relative;
  z-index: 3;
  color: black;
  width: 79%;
  margin: 2% auto 0;
  font-family: 'Knockout-47Bantamweight';
  text-transform: uppercase;
  line-height: 100%;
}

/* Fade tweets, make spans animate */
.poster .tweet.animate{
  transition: .5s linear opacity;
  opacity: 1;
}
.poster .tweet.hide{
  opacity: 0;
}
.poster .tweet span.hide{
  opacity: 0;
}

/* Text Length Conditions */
.poster.text-short span{
  display: inline-block;
}
.poster.align-center.text-short .shape{
  background-position: center center;
  width: 100%;
  bottom: 0%;
  height: 20%;
}
.poster.align-center.text-short.word-count-1 .shape{
  height: 50%;
}
.poster.align-center.text-short.word-count-2 .shape{
  height: 60%;
}
.poster.align-center.text-short.word-count-3 .shape{
  height: 30%;
  background-position: left center;
}
.poster.align-center.text-short.word-count-4 .shape{
  height: 20%;
  background-position: right center;
}

/* Alignment Conditions */
.poster.align-center{
  text-align: center;
}
.poster.align-center .shape{
  right: 0;
  bottom: 0;
  background-position: bottom center;
  height: 45%;
  width: 50%;
}
.poster.align-right{
  text-align: right;
}
.poster.align-right .shape{
  left: 0;
  top: 0;
  background-position: left center;
  height: 100%;
  width: 70%;
  -webkit-filter: invert(100%);
}
.poster.align-justify{
  text-align: justify;
}
.poster.align-justify .shape{
  right: 0;
  bottom: 0;
  background-position: right center;
  height: 70%;
  width: 100%;
  -webkit-filter: invert(100%);
}
.poster.align-left{
  text-align: left;
}
.poster.align-left .shape{
  right: 0;
  top: 0;
  background-position: right center;
  height: 100%;
  width: 50%;
}

/* Parts of Speech */
.poster .tweet .verb{
  font-family: 'Knockout-93UltmtHeviwt';
}
.poster .tweet .adjective, .poster .tweet .adverb{
  letter-spacing: 75px;
}
.poster .tweet .conjunction{
  text-decoration: overline underline;
}
